html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: white;
  font-family: 'Chakra Petch', sans-serif;
  letter-spacing: 0.2px;
  z-index: -2;
  background-color: #060A12;
}

.error-toast {
  text-align: center;
  background: #E84949;
  z-index: 3000;
  font-weight: 700;
}

.success-toast {
  text-align: center;
  background: #86C64E;
  z-index: 3000;
  color: #000000;
  font-weight: 700;
}
